# -----------------------------
# PYTHON CACHE / BYTECODE
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# VIRTUAL ENVIRONMENTS
# -----------------------------
.venv/
venv/
ENV/
env/

# -----------------------------
# LOG FILES
# -----------------------------
*.log

# -----------------------------
# PROJECT SECRETS
# -----------------------------
.env

# -----------------------------
# VECTOR INDEX (ONLY LARGE FILES)
# do NOT ignore store.pkl
# -----------------------------
vector_index/*.index
vector_index/*.faiss

# -----------------------------
# GIT FILES
# -----------------------------
.git/
.gitignore

# -----------------------------
# OS / EDITOR FILES
# -----------------------------
.DS_Store
.vscode/
.idea/
